@media only screen and (min-device-width: 319px) and (max-device-width: 599px) {
  .dobra-um {
    background-color: #d1926c;
    padding: 5%;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .section-card {
    width: 100%;
    background-color: #fbeae1;
    margin: 0 0 5% 0;
    display: block;
  }
  .section-info {
    display: none;
  }

  .div-form {
    width: 100%;
  }

  #anel-flutuante,
  #brincos-flutuante {
    display: none;
  }

  #logo-facrisa,
  #logo-bella-agner {
    margin: 30px 0 0 0;
    width: 48%;
    height: 150px;
  }

  #card-texto {
    margin: 225px 0 0 0;
  }

  div.section-card h1,
  div.section-card h2 {
    font-size: 54px;
  }
}

/* HD */
@media only screen and (min-device-width: 1200px) and (max-width: 1500px) {
  .dobra-um {
    width: 100%;
    width: 100vw;
    min-height: 720px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(img/1080/bg-dobra1-min.png);
    position: relative;
  }

  div.section-card {
    height: 300px;
    position: absolute;
    left: 100px;
    top: 105px;
    background-image: url(img/1080/bg-dobra1-card1-min.png);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  div.section-card:before,
  div.section-card:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-card:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  .grid-logos {
    width: 496px;
    height: 160px;
    overflow: hidden;
  }

  .column-grid-logos {
    width: 248px;
    height: 160px;
    float: left;
    margin: 0 auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
  }

  #logo-facrisa {
    width: 150px;
    height: 64px;
    overflow: hidden;
    background-image: url(img/logos/logo-facrisa.svg);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  #logo-bella-agner {
    width: 150px;
    height: 78px;
    overflow: hidden;
    background-image: url(img/logos/logo-bella-agner.svg);
    position: relative;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  div.section-card h1 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
  }

  div.section-card h2 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 800;
    letter-spacing: 3px;
  }

  #anel-flutuante {
    width: 99px;
    height: 90px;
    overflow: hidden;
    background-image: url(img/720/anel-flutuante-min.png);
    position: absolute;
    bottom: 0px;
    right: 90px;
    background-repeat: no-repeat;
  }

  #brincos-flutuante {
    width: 225px;
    height: 155px;
    overflow: hidden;
    background-image: url(img/720/brincos-flutuante-min.png);
    position: absolute;
    top: 340px;
    left: 17px;
    background-repeat: no-repeat;
  }

  #colar-flutuante {
    width: 123px;
    height: 700px;
    overflow: hidden;
    background-image: url(img/720/colar-flutuante-min.png);
    position: absolute;
    right: 627px;
    background-repeat: no-repeat;
  }

  div.section-info {
    width: 551px;
    height: 180px;
    overflow: hidden;
    position: absolute;
    left: 25px;
    bottom: 46px;
    background-image: url(img/720/bg-info-min.png);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  div.section-info:before,
  div.section-info:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-info:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  div.section-info .textos {
    position: absolute;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -55%);
    width: 350px;
    overflow: hidden;
  }

  .texto-legenda,
  .texto-legenda-negrito {
    font-size: 18px;
    overflow: hidden;
    text-align: center;
  }

  .texto-sublegenda {
    font-size: 16px;
    margin-top: 25px;
    text-align: center;
  }

  .div-form {
    position: absolute;
    right: 12%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 400px;
    padding: 25px 25px 0 25px;
  }

  .div-form h3 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
  }

  .div-form input {
    width: 100%;
    margin-bottom: 20px;
  }
  /* HD */
  @media only screen and (min-device-width: 1200px) and (max-width: 1800px) {
    .dobra-um {
      min-width: 1200px;
      min-height: 720px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url(img/1080/bg-dobra1-min.png);
      position: relative;
    }

    div.section-card {
      height: 300px;
      position: absolute;
      left: 100px;
      top: 105px;
      background-image: url(img/1080/bg-dobra1-card1-min.png);
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    div.section-card:before,
    div.section-card:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      top: 50%;
      bottom: 0;
      left: 10px;
      right: 10px;
      -moz-border-radius: 100px / 10px;
      border-radius: 100px / 10px;
    }
    div.section-card:after {
      right: 10px;
      left: auto;
      -webkit-transform: skew(8deg) rotate(3deg);
      -moz-transform: skew(8deg) rotate(3deg);
      -ms-transform: skew(8deg) rotate(3deg);
      -o-transform: skew(8deg) rotate(3deg);
      transform: skew(8deg) rotate(3deg);
    }

    .grid-logos {
      width: 496px;
      height: 160px;
      overflow: hidden;
    }

    .column-grid-logos {
      width: 248px;
      height: 160px;
      float: left;
      margin: 0 auto;
      text-align: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;

      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden;
    }

    #logo-facrisa {
      width: 150px;
      height: 64px;
      overflow: hidden;
      background-image: url(img/logos/logo-facrisa.svg);
      position: relative;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    #logo-bella-agner {
      width: 150px;
      height: 78px;
      overflow: hidden;
      background-image: url(img/logos/logo-bella-agner.svg);
      position: relative;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    div.section-card h1 {
      font-size: 28px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-weight: 500;
    }

    div.section-card h2 {
      font-size: 28px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-weight: 800;
      letter-spacing: 3px;
    }

    #anel-flutuante {
      width: 99px;
      height: 90px;
      overflow: hidden;
      background-image: url(img/720/anel-flutuante-min.png);
      position: absolute;
      bottom: 0px;
      right: 90px;
      background-repeat: no-repeat;
    }

    #brincos-flutuante {
      width: 225px;
      height: 155px;
      overflow: hidden;
      background-image: url(img/720/brincos-flutuante-min.png);
      position: absolute;
      top: 340px;
      left: 17px;
      background-repeat: no-repeat;
    }

    #colar-flutuante {
      width: 123px;
      height: 700px;
      overflow: hidden;
      background-image: url(img/720/colar-flutuante-min.png);
      position: absolute;
      right: 627px;
      background-repeat: no-repeat;
    }

    div.section-info {
      width: 551px;
      height: 180px;
      overflow: hidden;
      position: absolute;
      left: 25px;
      bottom: 46px;
      background-image: url(img/720/bg-info-min.png);
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    div.section-info:before,
    div.section-info:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      top: 50%;
      bottom: 0;
      left: 10px;
      right: 10px;
      -moz-border-radius: 100px / 10px;
      border-radius: 100px / 10px;
    }
    div.section-info:after {
      right: 10px;
      left: auto;
      -webkit-transform: skew(8deg) rotate(3deg);
      -moz-transform: skew(8deg) rotate(3deg);
      -ms-transform: skew(8deg) rotate(3deg);
      -o-transform: skew(8deg) rotate(3deg);
      transform: skew(8deg) rotate(3deg);
    }

    div.section-info .textos {
      position: absolute;
      left: 55%;
      top: 55%;
      transform: translate(-50%, -55%);
      width: 350px;
      overflow: hidden;
    }

    .texto-legenda,
    .texto-legenda-negrito {
      font-size: 18px;
      overflow: hidden;
      text-align: center;
    }

    .texto-sublegenda {
      font-size: 16px;
      margin-top: 25px;
      text-align: center;
    }

    .div-form {
      position: absolute;
      right: 12%;
      top: 0px;
      background-color: rgba(0, 0, 0, 0.3);
      width: 400px;
      padding: 25px 25px 0 25px;
    }

    .div-form h3 {
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      color: #fff;
    }

    .div-form input {
      width: 100%;
      margin-bottom: 20px;
    }

    .div-form input[type='text'],
    .div-form input[type='password'] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 25px;
      color: #fff;
    }

    .div-form input,
    .div-form select,
    .div-form select option {
      font-size: 14px;
    }

    .div-form input[type='submit'] {
      border: none;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
      background: #df8a1b;
      cursor: pointer;
      border-radius: 20px;
      margin-top: 8px;
    }

    .dobra-dois {
      margin: auto;
      width: 90%;
    }

    .dobra-dois h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 26px;
      margin: 45px 0 35px 0;
    }

    .dobra-dois .imagens-dobra-dois {
      width: 500px;
      float: left;
      margin: 25px;
    }

    .imagens-dobra-dois {
      min-width: 500px;
      min-height: 530px;
      overflow: hidden;
      position: relative;
    }

    .dobra-dois .imagens-dobra-dois .dobra-dois-imagem1 {
      position: absolute;
      left: 55px;
      background-image: url(img/720/bg-dobra2-imagem1-min.png);
      width: 266px;
      height: 400px;
    }
    .dobra-dois .imagens-dobra-dois .dobra-dois-imagem2 {
      position: absolute;
      left: 340px;
      top: 35px;
      background-image: url(img/720/bg-dobra2-imagem2-min.png);
      width: 200px;
      height: 200px;
    }
    .dobra-dois .imagens-dobra-dois .dobra-dois-imagem3 {
      position: absolute;
      left: 280px;
      top: 255px;
      background-image: url(img/720/bg-dobra2-imagem3-min.png);
      width: 288px;
      height: 230px;
    }

    .lista-dobra-dois {
      margin: 60px 0 0 40px;
    }

    .lista-dobra-dois li {
      font-size: 34px;
    }
    .lista-dobra-dois li span {
      font-size: 26px;
    }

    .lista-dobra-dois li {
      line-height: 55px;
    }
  }
  .div-form input[type='password'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 25px;
    color: #fff;
  }

  .div-form input,
  .div-form select,
  .div-form select option {
    font-size: 14px;
  }

  .div-form input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #df8a1b;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 8px;
  }

  .dobra-dois {
    margin: auto;
    width: 90%;
  }

  .dobra-dois h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin: 45px 0 35px 0;
  }

  .dobra-dois .imagens-dobra-dois {
    width: 500px;
    float: left;
    margin: 25px;
  }

  .imagens-dobra-dois {
    min-width: 500px;
    min-height: 530px;
    overflow: hidden;
    position: relative;
  }

  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem1 {
    position: absolute;
    left: 55px;
    background-image: url(img/720/bg-dobra2-imagem1-min.png);
    width: 266px;
    height: 400px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem2 {
    position: absolute;
    left: 340px;
    top: 35px;
    background-image: url(img/720/bg-dobra2-imagem2-min.png);
    width: 200px;
    height: 200px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem3 {
    position: absolute;
    left: 280px;
    top: 255px;
    background-image: url(img/720/bg-dobra2-imagem3-min.png);
    width: 288px;
    height: 230px;
  }

  .lista-dobra-dois {
    margin: 60px 0 0 40px;
  }

  .lista-dobra-dois li {
    font-size: 34px;
  }
  .lista-dobra-dois li span {
    font-size: 26px;
  }

  .lista-dobra-dois li {
    line-height: 55px;
  }
}

/* HD+ */
@media only screen and (min-device-width: 1500px) and (max-width: 1800px) {
  .dobra-um {
    width: 100%;
    width: 100vw;
    min-height: 720px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(img/1080/bg-dobra1-min.png);
    position: relative;
  }

  div.section-card {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 100px;
    top: 55px;
    background-image: url(img/1080/bg-dobra1-card1-min.png);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  div.section-card:before,
  div.section-card:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-card:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  .grid-logos {
    width: 600px;
    height: 200px;
    overflow: hidden;
  }

  .column-grid-logos {
    width: 300px;
    height: 200px;
    float: left;
    margin: 0 auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
  }

  #logo-facrisa {
    width: 150px;
    height: 64px;
    overflow: hidden;
    background-image: url(img/logos/logo-facrisa.svg);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  #logo-bella-agner {
    width: 150px;
    height: 78px;
    overflow: hidden;
    background-image: url(img/logos/logo-bella-agner.svg);
    position: relative;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  div.section-card h1 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
  }

  div.section-card h2 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 800;
    letter-spacing: 3px;
  }

  #anel-flutuante {
    width: 99px;
    height: 90px;
    overflow: hidden;
    background-image: url(img/720/anel-flutuante-min.png);
    position: absolute;
    bottom: 0px;
    right: 90px;
    background-repeat: no-repeat;
  }

  #brincos-flutuante {
    width: 225px;
    height: 155px;
    overflow: hidden;
    background-image: url(img/720/brincos-flutuante-min.png);
    position: absolute;
    top: 340px;
    left: 17px;
    background-repeat: no-repeat;
  }

  #colar-flutuante {
    width: 123px;
    height: 700px;
    overflow: hidden;
    background-image: url(img/720/colar-flutuante-min.png);
    position: absolute;
    right: 727px;
    background-repeat: no-repeat;
  }

  div.section-info {
    width: 551px;
    height: 180px;
    overflow: hidden;
    position: absolute;
    left: 25px;
    bottom: 46px;
    background-image: url(img/720/bg-info-min.png);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  div.section-info:before,
  div.section-info:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-info:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  div.section-info .textos {
    position: absolute;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -55%);
    width: 350px;
    overflow: hidden;
  }

  .texto-legenda,
  .texto-legenda-negrito {
    font-size: 18px;
    overflow: hidden;
    text-align: center;
  }

  .texto-sublegenda {
    font-size: 16px;
    margin-top: 25px;
    text-align: center;
  }

  .div-form {
    position: absolute;
    right: 12%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 450px;
    padding: 25px 25px 0 25px;
  }

  .div-form h3 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
  }

  .div-form input {
    width: 100%;
    margin-bottom: 20px;
  }

  .div-form input[type='text'],
  .div-form input[type='password'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 25px;
    color: #fff;
  }

  .div-form input,
  .div-form select,
  .div-form select option {
    font-size: 14px;
  }

  .div-form input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #df8a1b;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 8px;
  }

  .dobra-dois {
    margin: auto;
    width: 90%;
  }

  .dobra-dois h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin: 45px 0 35px 0;
  }

  .dobra-dois .imagens-dobra-dois {
    width: 500px;
    float: left;
    margin: 35px;
  }

  .imagens-dobra-dois {
    min-width: 600px;
    min-height: 530px;
    overflow: hidden;
    position: relative;
  }

  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem1 {
    position: absolute;
    left: 55px;
    background-image: url(img/720/bg-dobra2-imagem1-min.png);
    width: 266px;
    height: 400px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem2 {
    position: absolute;
    left: 340px;
    top: 35px;
    background-image: url(img/720/bg-dobra2-imagem2-min.png);
    width: 200px;
    height: 200px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem3 {
    position: absolute;
    left: 280px;
    top: 255px;
    background-image: url(img/720/bg-dobra2-imagem3-min.png);
    width: 288px;
    height: 230px;
  }

  .lista-dobra-dois {
    margin: 60px 0 0 40px;
  }

  .lista-dobra-dois li {
    font-size: 34px;
  }
  .lista-dobra-dois li span {
    font-size: 26px;
  }

  .lista-dobra-dois li {
    line-height: 55px;
  }
}

/* FULL-HD */
@media only screen and (min-device-width: 1920px) {
  .dobra-um {
    width: 1920px;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(img/1080/bg-dobra1-min.png);
    position: relative;
  }

  div.section-card {
    width: 733px;
    height: 496px;
    position: absolute;
    left: 250px;
    top: 65px;
    background-image: url(img/1080/bg-dobra1-card1-min.png);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  div.section-card:before,
  div.section-card:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-card:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  .grid-logos {
    width: 733px;
    height: 220px;
    overflow: hidden;
  }

  .column-grid-logos {
    width: 366px;
    height: 220px;
    float: left;
    margin: 0 auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #logo-facrisa {
    width: 215px;
    height: 93px;
    overflow: hidden;
    background-image: url(img/logos/logo-facrisa.svg);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  #logo-bella-agner {
    width: 215px;
    height: 93px;
    overflow: hidden;
    background-image: url(img/logos/logo-bella-agner.svg);
    position: relative;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  div.section-card h1 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    padding-bottom: 25px;
  }

  div.section-card h2 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 800;
    letter-spacing: 3px;
  }

  div.section-info {
    width: 860px;
    height: 281px;
    overflow: hidden;
    position: absolute;
    left: 55px;
    bottom: 36px;
    background-image: url(img/1080/bg-info-min.png);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  div.section-info:before,
  div.section-info:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-info:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  div.section-info .textos {
    position: absolute;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -55%);
    width: 530px;
    overflow: hidden;
  }

  .texto-legenda,
  .texto-legenda-negrito {
    font-size: 26px;
    overflow: hidden;
    text-align: center;
  }

  .texto-sublegenda {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
  }

  .div-form {
    position: absolute;
    right: 12%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 500px;
    padding: 30px;
  }

  .div-form h3 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
  }

  .div-form input {
    width: 100%;
    margin-bottom: 20px;
  }

  .div-form input[type='text'],
  .div-form input[type='password'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
  }

  .div-form input,
  .div-form select,
  .div-form select option {
    font-size: 16px;
  }

  .div-form input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #df8a1b;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 25px;
  }

  #anel-flutuante {
    width: 208px;
    height: 189px;
    overflow: hidden;
    background-image: url(img/1080/anel-flutuante-min.png);
    position: absolute;
    bottom: 20px;
    right: 57px;
  }

  #brincos-flutuante {
    width: 425px;
    height: 292px;
    overflow: hidden;
    background-image: url(img/1080/brincos-flutuante-min.png);
    position: absolute;
    bottom: 300px;
    left: 57px;
    background-repeat: no-repeat;
  }

  #colar-flutuante {
    width: 186px;
    height: 1060px;
    overflow: hidden;
    background-image: url(img/1080/colar-flutuante-min.png);
    position: absolute;
    top: -80px;
    right: 727px;
    background-repeat: no-repeat;
  }

  .dobra-dois {
    margin: auto;
    width: 90%;
  }

  .dobra-dois h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 45px 0 35px 0;
  }

  .dobra-dois .imagens-dobra-dois {
    width: 500px;
    float: left;
    margin: 25px;
  }

  .imagens-dobra-dois {
    min-width: 900px;
    min-height: 830px;
    overflow: hidden;
    position: relative;
  }

  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem1 {
    position: absolute;
    left: 55px;
    background-image: url(img/1080/bg-dobra2-imagem1-min.png);
    width: 445px;
    height: 668px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem2 {
    position: absolute;
    left: 530px;
    top: 45px;
    background-image: url(img/1080/bg-dobra2-imagem2-min.png);
    width: 337px;
    height: 337px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem3 {
    position: absolute;
    left: 450px;
    top: 415px;
    background-image: url(img/1080/bg-dobra2-imagem3-min.png);
    width: 486px;
    height: 388px;
  }

  .lista-dobra-dois {
    margin: 125px 0 0 80px;
  }

  .lista-dobra-dois li {
    font-size: 44px;
  }
  .lista-dobra-dois li span {
    font-size: 36px;
  }

  .lista-dobra-dois li {
    line-height: 75px;
  }
}
