@media only screen and (min-device-width: 319px) and (max-device-width: 599px) {
  html {
    -webkit-text-size-adjust: none;
  }

  .div-form,
  .footer-span {
    display: none;
  }

  .div-form input[type='text'],
  .div-form input[type='password'],
  .div-form-mobile input[type='text'],
  .div-form-mobile input[type='number'],
  .div-form-mobile input[type='email'],
  .div-form-mobile input[type='tel'],
  .div-form-mobile input[type='date'],
  .div-form-mobile input[type='month'],
  .div-form-mobile select {
    font-weight: 300 !important;
  }

  .dobra-dois input[type='button'] {
    border-radius: 9px !important;
  }

  .footer-span-mobile {
    font-size: 2.2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #333;
    margin: 3vh 0 0 0;
    font-weight: 500;
  }

  .div-form-mobile h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    margin: 0 0 2vh 0;
  }

  .div-form-mobile input[type='submit'] {
    border: none;
    outline: none;
    color: #fff;
    background: #e38d63;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .dobra-um {
    width: 100%;
    min-height: 25vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(img/mobile/bg-dobra1-min.png);
    background-size: cover;
    position: relative;
  }

  .dobra-um-content {
    width: 100vmin;
    padding: 4vh 2vh;
    position: relative;
    justify-content: center;
    align-items: center;
    display: grid;
    overflow: hidden;
  }

  div.section-card {
    width: 85vmin;
    height: 59vmin;
    position: relative;
    background-image: url(img/1080/bg-dobra1-card1-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    overflow: hidden;
  }

  div.section-card:before,
  div.section-card:after {
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-card:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  .grid-logos {
    width: 100%;
    height: 10vh;
    overflow: hidden;
    padding: 1vh 0 0 0;
  }

  .column-grid-logos {
    width: 20%;
    height: 160px;
    float: left;
    margin: 0 auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
  }

  #logo-facrisa {
    width: 150px;
    height: 64px;
    overflow: hidden;
    background-image: url(img/logos/logo-facrisa.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    background-position: center;
  }

  #logo-bella-agner {
    width: 150px;
    height: 78px;
    overflow: hidden;
    background-image: url(img/logos/logo-bella-agner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    background-position: center;
  }

  div.section-card h1 {
    font-size: 3em;
    letter-spacing: 6px;
  }

  div.section-card h2 {
    font-size: 3.5em;
    letter-spacing: 6px;
    margin: 15px 0 50px 0;
  }

  div.section-card span.texto-card {
    font-size: 2.1em;
    line-height: 1.5em;
  }
  div.section-card b {
    font-size: 0.93em;
    line-height: 1.5em;
  }

  .texto-card-sub {
    margin: 15px 0 0 0;
    font-size: 2.1em;
    display: block;
  }

  #anel-flutuante {
    display: none;
  }

  #brincos-flutuante {
    width: 225px;
    height: 155px;
    overflow: hidden;
    background-image: url(img/720/brincos-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 61vmin;
    left: 3vmin;
  }

  #colar-flutuante {
    width: 123px;
    height: 700px;
    overflow: hidden;
    background-image: url(img/720/colar-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 3vh;
    top: 0;
  }

  .div-form-mobile {
    margin: 7vh 0 0 0;
    width: 85vmin;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2vh;
  }

  .div-form-mobile .form-input-LGPD {
    padding-bottom: 1vh;
  }

  .div-form-mobile h3 {
    font-size: 3.5em;
  }

  .div-form-mobile input[type='text'],
  .div-form-mobile input[type='email'],
  .div-form-mobile input[type='number'],
  .div-form-mobile input[type='password'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
  }

  .div-form-mobile .form-input-field {
    min-height: 10vmin;
    width: 100%;
    overflow: hidden;
  }

  .div-form-mobile input,
  .div-form-mobile select,
  .div-form-mobile select option {
    font-size: 44px !important;
  }

  .div-form-mobile input[type='submit'] {
    border: none;
    outline: none;
    height: 5vh;
    min-height: 5vh;
    color: #fff;
    font-size: 2.2em;
    background: #e38d63;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 8px;
  }

  .div-form-mobile input[type='text']:focus,
  .div-form-mobile input[type='password']:focus,
  .div-form-mobile input[type='number']:focus,
  .div-form-mobile input[type='email']:focus,
  .div-form-mobile input[type='tel']:focus,
  .div-form-mobile input[type='date']:focus,
  .div-form-mobile input[type='month']:focus {
    border-bottom: 0.4vh dashed #fff;
  }

  .div-form-mobile input[type='text'],
  .div-form-mobile input[type='number'],
  .div-form-mobile input[type='email'],
  .div-form-mobile input[type='tel'],
  .div-form-mobile input[type='date'],
  .div-form-mobile input[type='month'],
  .div-form-mobile select {
    border: none;
    border-bottom: 0.1vh solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 0.1vh 0;
  }

  .div-form-mobile select:focus {
    border-bottom: 0.4vh dashed #fff;
  }

  .div-form-mobile .form-input-LGPD {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 2.1em;
  }

  .LGPD-checkbox {
    margin-left: 1vh !important;
  }

  .div-form-mobile input[type='checkbox'] {
    width: 4vh;
    -webkit-transform: scale(2, 2);
  }

  .div-form-mobile select,
  .div-form-mobile input {
    height: 3.3vh;
  }

  .div-form-mobile select {
    padding: 0;
  }

  .dobra-dois {
    width: 100%;
  }

  .dobra-dois h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    margin: 45px 0 35px 0;
  }

  .dobra-dois .imagens-dobra-dois {
    width: 85vmin;
    height: 67vmin;
    display: grid;
  }

  .imagens-dobra-dois {
    width: 85vmin;
    height: 67vmin;
    overflow: hidden;
    position: relative;
  }

  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem1 {
    position: absolute;
    background-image: url(img/720/bg-dobra2-imagem1-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 45vmin;
    height: 67vmin;
    float: left;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem2 {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    background-image: url(img/720/bg-dobra2-imagem2-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 38vmin;
    height: 38vmin;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem3 {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(img/720/bg-dobra2-imagem3-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 38vmin;
    height: 27vmin;
  }

  .lista-dobra-dois {
    width: 85vmin;
    height: 67vmin;
    margin: 60px 0 0 40px;
    line-height: 75px;
  }

  .lista-dobra-dois li {
    padding-left: 1vh;
    font-size: 56px;
  }
  .lista-dobra-dois ul {
    margin-left: 4vh;
  }
  .lista-dobra-dois li span {
    font-size: 42px;
  }

  footer {
    background-image: none;
    background-color: #b37964;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 25vmin;
    overflow: hidden;
    font-size: 26px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: grid;
  }

  footer span {
    line-height: 50px;
    font-size: 1.4em;
  }

  footer .logos-footer {
    width: 70vmin;
    height: 25vmin;
    margin: 1vh 0 0 0;

    overflow: hidden;
  }

  #logo-bella-agner-footer,
  #logo-facrisa-footer {
    width: 30vmin;
    height: 20vmin;
  }

  .dobra-dois input[type='button'] {
    font-size: 2.2em;
    padding: 1vh 3vh;
  }
}

/* HD */
@media only screen and (min-device-width: 1200px) and (max-width: 1500px) {
  .texto-card-sub,
  .div-form-mobile,
  .footer-span-mobile {
    display: none;
  }
  .dobra-um {
    width: 100%;
    width: 100vw;
    min-height: 720px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(img/1080/bg-dobra1-min.png);
    background-size: cover;
    position: relative;
  }

  div.section-card {
    width: 660px;
    height: 446px;
    position: absolute;
    left: 60px;
    top: 118px;
    background-image: url(img/1080/bg-dobra1-card1-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  div.section-card:before,
  div.section-card:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-card:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  .grid-logos {
    width: 660px;
    height: 160px;
    overflow: hidden;
  }

  .column-grid-logos {
    width: 132px;
    height: 160px;
    float: left;
    margin: 0 auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
  }

  #logo-facrisa {
    width: 150px;
    height: 64px;
    overflow: hidden;
    background-image: url(img/logos/logo-facrisa.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    background-position: center;
  }

  #logo-bella-agner {
    width: 150px;
    height: 78px;
    overflow: hidden;
    background-image: url(img/logos/logo-bella-agner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    background-position: center;
  }

  div.section-card h1 {
    font-size: 34px;
    letter-spacing: 6px;
  }

  div.section-card h2 {
    font-size: 38px;
    letter-spacing: 6px;
    margin: 5px 0 40px 0;
  }

  div.section-card span {
    font-size: 18px;
    line-height: 32px;
  }

  #anel-flutuante {
    width: 99px;
    height: 90px;
    overflow: hidden;
    background-image: url(img/720/anel-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 664px;
    right: 90px;
  }

  #brincos-flutuante {
    width: 225px;
    height: 155px;
    overflow: hidden;
    background-image: url(img/720/brincos-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 57px;
    left: 40px;
  }

  #colar-flutuante {
    width: 123px;
    height: 700px;
    overflow: hidden;
    background-image: url(img/720/colar-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 513px;
  }

  div.section-info {
    width: 551px;
    height: 180px;
    overflow: hidden;
    position: absolute;
    left: 25px;
    bottom: 46px;
    background-image: url(img/720/bg-info-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  div.section-info:before,
  div.section-info:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-info:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  div.section-info .textos {
    position: absolute;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -55%);
    width: 350px;
    overflow: hidden;
  }

  .texto-legenda,
  .texto-legenda-negrito {
    font-size: 18px;
    overflow: hidden;
    text-align: center;
  }

  .texto-sublegenda {
    font-size: 16px;
    margin-top: 25px;
    text-align: center;
  }

  .div-form {
    position: absolute;
    right: 9%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 400px;
    padding: 25px 25px 0 25px;
  }

  .div-form h3 {
    font-size: 24px;
  }

  .div-form input[type='text'],
  .div-form input[type='password'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 25px;
    color: #fff;
  }

  .form-input-field {
    height: 46px;
    width: 100%;
    overflow: hidden;
  }

  .div-form input,
  .div-form select,
  .div-form select option {
    font-size: 14px;
  }

  .div-form input[type='text'],
  .div-form input[type='button'],
  .div-form input[type='submit'] {
    width: 100%;
    margin-bottom: 20px;
  }

  .div-form input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #e38d63;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 8px;
  }

  .dobra-dois {
    margin: auto;
    width: 90%;
  }

  .dobra-dois h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin: 45px 0 35px 0;
  }

  .dobra-dois .imagens-dobra-dois {
    width: 500px;
    float: left;
  }

  .imagens-dobra-dois {
    min-width: 500px;
    min-height: 580px;
    overflow: hidden;
    position: relative;
  }

  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem1 {
    position: absolute;
    left: 55px;
    background-image: url(img/720/bg-dobra2-imagem1-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 266px;
    height: 400px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem2 {
    position: absolute;
    left: 340px;
    top: 35px;
    background-image: url(img/720/bg-dobra2-imagem2-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem3 {
    position: absolute;
    left: 280px;
    top: 255px;
    background-image: url(img/720/bg-dobra2-imagem3-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 288px;
    height: 230px;
  }

  .lista-dobra-dois {
    margin: 60px 0 0 40px;
  }

  .lista-dobra-dois li {
    font-size: 34px;
  }
  .lista-dobra-dois li span {
    font-size: 26px;
  }

  .lista-dobra-dois li {
    line-height: 55px;
  }

  footer {
    background-image: url(img/1080/footer-background-min.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100px;
    overflow: hidden;
    font-size: 26px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: grid;
  }

  footer span {
    line-height: 50px;
    font-size: 20px;
  }

  footer .logos-footer {
    width: 200px;
    height: 50px;
    overflow: hidden;
  }

  #logo-bella-agner-footer,
  #logo-facrisa-footer {
    width: 80px;
    height: 41px;
  }

  .dobra-dois input[type='button'] {
    font-size: 18px;
    padding: 10px 34px;
  }
}

/* HD+ */
@media only screen and (min-device-width: 1500px) and (max-width: 1800px) {
  .texto-card-sub,
  .div-form-mobile,
  .footer-span-mobile {
    display: none;
  }
  .dobra-um {
    width: 100%;
    width: 100vw;
    min-height: 720px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(img/1080/bg-dobra1-min.png);
    background-size: cover;
    position: relative;
  }

  div.section-card {
    width: 825px;
    height: 560px;
    position: absolute;
    left: 100px;
    top: 55px;
    background-image: url(img/1080/bg-dobra1-card1-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  div.section-card:before,
  div.section-card:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-card:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  .grid-logos {
    width: 825px;
    height: 180px;
    overflow: hidden;
  }

  .column-grid-logos {
    width: 165px;
    height: 180px;
    float: left;
    margin: 0 auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
  }

  #logo-facrisa {
    width: 150px;
    height: 64px;
    overflow: hidden;
    background-image: url(img/logos/logo-facrisa.svg);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  #logo-bella-agner {
    width: 150px;
    height: 78px;
    overflow: hidden;
    background-image: url(img/logos/logo-bella-agner.svg);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  div.section-card h1 {
    font-size: 43px;
    letter-spacing: 5px;
  }

  div.section-card h2 {
    font-size: 47px;
    letter-spacing: 6px;
    margin: 12px 0 66px 0;
  }

  div.section-card span {
    font-size: 26px;
    line-height: 42px;
  }

  #anel-flutuante {
    width: 99px;
    height: 90px;
    overflow: hidden;
    background-image: url(img/720/anel-flutuante-min.png);
    background-size: cover;
    position: absolute;
    top: 680px;
    right: 90px;
    background-repeat: no-repeat;
  }

  #brincos-flutuante {
    width: 225px;
    height: 155px;
    overflow: hidden;
    background-image: url(img/720/brincos-flutuante-min.png);
    background-size: cover;
    position: absolute;
    bottom: 11px;
    left: 94px;
    background-repeat: no-repeat;
  }

  #colar-flutuante {
    width: 123px;
    height: 700px;
    overflow: hidden;
    background-image: url(img/720/colar-flutuante-min.png);
    background-size: cover;
    position: absolute;
    right: 629px;
    background-repeat: no-repeat;
  }

  div.section-info {
    width: 551px;
    height: 180px;
    overflow: hidden;
    position: absolute;
    left: 25px;
    bottom: 46px;
    background-image: url(img/720/bg-info-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  div.section-info:before,
  div.section-info:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-info:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  div.section-info .textos {
    position: absolute;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -55%);
    width: 350px;
    overflow: hidden;
  }

  .texto-legenda,
  .texto-legenda-negrito {
    font-size: 18px;
    overflow: hidden;
    text-align: center;
  }

  .texto-sublegenda {
    font-size: 16px;
    margin-top: 25px;
    text-align: center;
  }

  .div-form {
    position: absolute;
    right: 9%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 450px;
    padding: 25px 25px 0 25px;
  }

  .div-form h3 {
    font-size: 24px;
  }

  .div-form input[type='text'],
  .div-form input[type='button'],
  .div-form input[type='submit'] {
    width: 100%;
    margin-bottom: 20px;
  }

  .div-form input[type='text'],
  .div-form input[type='password'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 25px;
    color: #fff;
  }

  .form-input-field {
    height: 46px;
    width: 100%;
    overflow: hidden;
  }

  .div-form input,
  .div-form select,
  .div-form select option {
    font-size: 14px;
  }

  .div-form input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #e38d63;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 8px;
  }

  .dobra-dois {
    margin: auto;
    width: 90%;
  }

  .dobra-dois h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin: 45px 0 35px 0;
  }

  .dobra-dois .imagens-dobra-dois {
    width: 500px;
    float: left;
  }

  .imagens-dobra-dois {
    min-width: 600px;
    min-height: 580px;
    overflow: hidden;
    position: relative;
  }

  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem1 {
    position: absolute;
    background-image: url(img/720/bg-dobra2-imagem1-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 266px;
    height: 400px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem2 {
    position: absolute;
    left: 290px;
    top: 35px;
    background-image: url(img/720/bg-dobra2-imagem2-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem3 {
    position: absolute;
    left: 235px;
    top: 255px;
    background-image: url(img/720/bg-dobra2-imagem3-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 288px;
    height: 230px;
  }

  .lista-dobra-dois {
    margin: 60px 0 0 40px;
  }

  .lista-dobra-dois li {
    font-size: 34px;
  }
  .lista-dobra-dois li span {
    font-size: 26px;
  }

  .lista-dobra-dois li {
    line-height: 55px;
  }

  footer {
    background-image: url(img/1080/footer-background-min.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100px;
    overflow: hidden;
    font-size: 26px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: grid;
  }

  footer span {
    line-height: 50px;
    font-size: 20px;
  }

  footer .logos-footer {
    width: 200px;
    height: 50px;
    overflow: hidden;
  }

  #logo-bella-agner-footer,
  #logo-facrisa-footer {
    width: 80px;
    height: 41px;
  }

  .dobra-dois input[type='button'] {
    font-size: 18px;
    padding: 10px 38px;
  }
}

/* FULL-HD */
@media only screen and (min-device-width: 1920px) {
  .texto-card-sub,
  .div-form-mobile,
  .footer-span-mobile {
    display: none;
  }
  .dobra-um {
    width: 100%;
    min-height: 1020px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(img/1080/bg-dobra1-min.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  .dobra-um-content {
    position: relative;
    max-width: 1900px;
    height: 1000px;
    overflow: hidden;
    margin: 0 auto;
  }

  div.section-card {
    width: 990px;
    height: 670px;
    position: absolute;
    left: 75px;
    top: 138px;
    background-image: url(img/1080/bg-dobra1-card1-min.png);
    background-size: cover;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background-repeat: no-repeat;
  }

  div.section-card:before,
  div.section-card:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-card:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  .grid-logos {
    width: 990px;
    height: 180px;
    overflow: hidden;
    justify-content: center;
  }

  .column-grid-logos {
    width: 198px;
    height: 180px;
    float: left;
    margin: 0 auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
  }

  #logo-facrisa {
    width: 198px;
    height: 93px;
    overflow: hidden;
    background-image: url(img/logos/logo-facrisa.svg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  #logo-bella-agner {
    width: 198px;
    height: 93px;
    overflow: hidden;
    background-image: url(img/logos/logo-bella-agner.svg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  div.section-card h1 {
    font-size: 56px;
    letter-spacing: 5px;
    margin: 16px 0 0 0;
  }

  div.section-card h2 {
    font-size: 56px;
    letter-spacing: 8px;
    margin: 16px 0 65px 0;
  }

  div.section-card span {
    font-size: 28px;
    line-height: 58px;
  }

  div.section-info {
    width: 860px;
    height: 281px;
    overflow: hidden;
    position: absolute;
    left: 55px;
    bottom: 36px;
    background-image: url(img/1080/bg-info-min.png);
    background-size: cover;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background-repeat: no-repeat;
  }

  div.section-info:before,
  div.section-info:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  div.section-info:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }

  div.section-info .textos {
    position: absolute;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -55%);
    width: 530px;
    overflow: hidden;
  }

  .texto-legenda,
  .texto-legenda-negrito {
    font-size: 26px;
    overflow: hidden;
    text-align: center;
  }

  .texto-sublegenda {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
  }

  .div-form {
    position: absolute;
    right: 12%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 500px;
    padding: 30px;
  }

  .div-form h3 {
    font-size: 36px;
  }

  .div-form input[type='text'],
  .div-form input[type='button'],
  .div-form input[type='submit'] {
    width: 100%;
  }

  .div-form input[type='text'],
  .div-form input[type='password'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
  }

  .form-input-field {
    height: 55px;
    width: 100%;
    overflow: hidden;
  }

  .div-form input,
  .div-form select,
  .div-form select option {
    font-size: 16px;
  }

  .div-form input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #e38d63;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 25px;
  }

  #anel-flutuante {
    width: 192px;
    height: 173px;
    overflow: hidden;
    background-image: url(img/1080/anel-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 940px;
    right: 90px;
  }

  #brincos-flutuante {
    width: 425px;
    height: 292px;
    overflow: hidden;
    background-image: url(img/1080/brincos-flutuante-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 27px;
    left: 57px;
  }

  #colar-flutuante {
    width: 186px;
    height: 1060px;
    overflow: hidden;
    background-image: url(img/1080/colar-flutuante-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -80px;
    right: 771px;
  }

  .dobra-dois {
    margin: auto;
    width: 90%;
  }

  .dobra-dois h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    margin: 45px 0 55px 0;
  }

  .dobra-dois .imagens-dobra-dois {
    width: 500px;
    float: left;
  }

  .imagens-dobra-dois {
    min-width: 900px;
    min-height: 880px;
    overflow: hidden;
    position: relative;
  }

  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem1 {
    position: absolute;
    background-image: url(img/1080/bg-dobra2-imagem1-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 445px;
    height: 668px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem2 {
    position: absolute;
    left: 475px;
    top: 45px;
    background-image: url(img/1080/bg-dobra2-imagem2-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 337px;
    height: 337px;
  }
  .dobra-dois .imagens-dobra-dois .dobra-dois-imagem3 {
    position: absolute;
    left: 400px;
    top: 415px;
    background-image: url(img/1080/bg-dobra2-imagem3-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 486px;
    height: 388px;
  }

  .lista-dobra-dois {
    margin: 125px 0 0 80px;
  }

  .lista-dobra-dois li {
    font-size: 44px;
  }
  .lista-dobra-dois li span {
    font-size: 36px;
  }

  .lista-dobra-dois li {
    line-height: 75px;
  }

  footer {
    background-image: url(img/1080/footer-background-min.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100px;
    overflow: hidden;
    font-size: 26px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: grid;
  }

  footer span {
    line-height: 50px;
    font-size: 20px;
  }

  footer .logos-footer {
    width: 200px;
    height: 50px;
    overflow: hidden;
  }

  #logo-bella-agner-footer,
  #logo-facrisa-footer {
    width: 80px;
    height: 41px;
  }

  .dobra-dois input[type='button'] {
    font-size: 23px;
    padding: 10px 46px;
  }
}

@media only screen and (min-device-width: 2220px) {
  .texto-card-sub,
  .div-form-mobile,
  .footer-span-mobile {
    display: none;
  }
  #anel-flutuante {
    width: 192px;
    height: 173px;
    overflow: hidden;
    background-image: url(img/1080/anel-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 940px;
    right: 19%;
  }
}

@media only screen and (min-device-width: 3000px) {
  .texto-card-sub,
  .div-form-mobile,
  .footer-span-mobile {
    display: none;
  }
  #anel-flutuante {
    width: 192px;
    height: 173px;
    overflow: hidden;
    background-image: url(img/1080/anel-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 940px;
    right: 25%;
  }
}

@media only screen and (min-device-width: 3800px) {
  .texto-card-sub,
  .div-form-mobile,
  .footer-span-mobile {
    display: none;
  }
  #anel-flutuante {
    width: 192px;
    height: 173px;
    overflow: hidden;
    background-image: url(img/1080/anel-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 940px;
    right: 28%;
  }
}

@media only screen and (min-device-width: 5000px) {
  .texto-card-sub,
  .div-form-mobile,
  .footer-span-mobile {
    display: none;
  }
  #anel-flutuante {
    width: 192px;
    height: 173px;
    overflow: hidden;
    background-image: url(img/1080/anel-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 940px;
    right: 35%;
  }
}

@media only screen and (min-device-width: 6000px) {
  .texto-card-sub,
  .div-form-mobile,
  .footer-span-mobile {
    display: none;
  }
  #anel-flutuante {
    width: 192px;
    height: 173px;
    overflow: hidden;
    background-image: url(img/1080/anel-flutuante-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 940px;
    right: 35%;
  }
}
